html {
  background: #F6F6F6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #242424;
  width: 100%;
}

:root {
  --short: 0.2s ease-in-out;
  --medium: 0.4s cubic-bezier(0.5,0,0.5,1);
}

.content {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  padding: 12px;
  overflow: hidden;
}
.bottom-bar {
  width:100%;
  position: absolute;
  bottom: 20px;
  padding: 0 12px;
}
.title {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#grid- {
  height:100%;
  width:100%;
  transition: var(--medium);
}
div[type='grid-item'] {
  width: 100%;
  height: 100%;
  transition: var(--short);
  grid-gap: 12px;
}
div[type='tile'], .placeholder-tile {
  position: relative;
  display: flex;
  /*justify-content: center;*/
  padding: 16px;
  width: auto;
  height: auto;
  background: #fff;
  box-shadow: 0px 0px 32px rgba(73,73,73,0.06);
  border-radius: 16px;
  transition: var(--medium);
  cursor: pointer;
}
.placeholder-tile {
  background: #F6F6F6;
  box-shadow: none;
}
div[type='tile']:hover {
  box-shadow: 0px 0px 44px rgba(73,73,73,0.2);
}
.tile-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #242424;
  width: 100%;
  overflow: hidden;
}

#modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  pointer-events: none;
  transition: 0.4s ease;
}
#modal-wrapper.active {
  background: rgba(0,0,0,0.5);
}

div[type='tile'].active {
  position: absolute;
  z-index: 1;
  pointer-events: all!important;
  cursor: auto!important;
}

div[type='tile'].active.modal-open {
  width: 80%!important;
  height: 80%!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%,-50%)!important;
}

@media screen and (min-width: 1000px) {
  div[type='tile'].active.modal-open {
    width: 800px!important;
  }
}

.close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid #E5E5E5;
  top: -16px;
  right: -16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  transition: .2s ease;
  pointer-events: none;
  cursor: pointer;
}

.close-modal:hover {
  background: #E5E5E5;
}

.active .close-modal {
  opacity: 1;
  pointer-events: all;
}

.inactive {
  opacity: 0;
  pointer-events: none;
}

.party {
  background: red!important;
}

/* #grid-0 div {
  border: 1px solid red;
}
#grid-0 div div {
  border: 1px solid magenta;
}
#grid-0 div div div {
  border: 1px solid blue;
}
#grid-0 div div div div {
  border: 1px solid lime;
}
#grid-0 div div div div div {
  border: 1px solid yellow;
}  */


/*set following in js:*/

#grid-0.hover-grid-0-0.allow-hover {
  grid-template: var(--hover-0-0)!important
}
#grid-0.hover-grid-0-1.allow-hover {
  grid-template: var(--hover-0-1)!important
}
#grid-0-0.hover-grid-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0)!important
}
#grid-0-0.hover-grid-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1)!important
}
#grid-0-1.hover-grid-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0)!important
}
#grid-0-1.hover-grid-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1)!important
}
#grid-0-0-0.hover-grid-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0)!important
}
#grid-0-0-0.hover-grid-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1)!important
}
#grid-0-0-1.hover-grid-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0)!important
}
#grid-0-0-1.hover-grid-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1)!important
}
#grid-0-1-0.hover-grid-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0)!important
}
#grid-0-1-0.hover-grid-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1)!important
}
#grid-0-1-1.hover-grid-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0)!important
}
#grid-0-1-1.hover-grid-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1)!important
}
#grid-0-0-0-0.hover-grid-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0)!important
}
#grid-0-0-0-0.hover-grid-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1)!important
}
#grid-0-0-0-1.hover-grid-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0)!important
}
#grid-0-0-0-1.hover-grid-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1)!important
}
#grid-0-0-1-0.hover-grid-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0)!important
}
#grid-0-0-1-0.hover-grid-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1)!important
}
#grid-0-0-1-1.hover-grid-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0)!important
}
#grid-0-0-1-1.hover-grid-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1)!important
}
#grid-0-1-0-0.hover-grid-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0)!important
}
#grid-0-1-0-0.hover-grid-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1)!important
}
#grid-0-1-0-1.hover-grid-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0)!important
}
#grid-0-1-0-1.hover-grid-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1)!important
}
#grid-0-1-1-0.hover-grid-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0)!important
}
#grid-0-1-1-0.hover-grid-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1)!important
}
#grid-0-1-1-1.hover-grid-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0)!important
}
#grid-0-1-1-1.hover-grid-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1)!important
}
#grid-0-0-0-0-0.hover-grid-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0.hover-grid-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-1.hover-grid-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-1.hover-grid-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1)!important
}
#grid-0-0-0-1-0.hover-grid-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0)!important
}
#grid-0-0-0-1-0.hover-grid-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1)!important
}
#grid-0-0-0-1-1.hover-grid-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0)!important
}
#grid-0-0-0-1-1.hover-grid-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1)!important
}
#grid-0-0-1-0-0.hover-grid-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0)!important
}
#grid-0-0-1-0-0.hover-grid-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1)!important
}
#grid-0-0-1-0-1.hover-grid-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0)!important
}
#grid-0-0-1-0-1.hover-grid-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1)!important
}
#grid-0-0-1-1-0.hover-grid-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0)!important
}
#grid-0-0-1-1-0.hover-grid-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1)!important
}
#grid-0-0-1-1-1.hover-grid-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0)!important
}
#grid-0-0-1-1-1.hover-grid-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1)!important
}
#grid-0-1-0-0-0.hover-grid-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0)!important
}
#grid-0-1-0-0-0.hover-grid-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1)!important
}
#grid-0-1-0-0-1.hover-grid-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0)!important
}
#grid-0-1-0-0-1.hover-grid-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1)!important
}
#grid-0-1-0-1-0.hover-grid-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0)!important
}
#grid-0-1-0-1-0.hover-grid-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1)!important
}
#grid-0-1-0-1-1.hover-grid-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0)!important
}
#grid-0-1-0-1-1.hover-grid-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1)!important
}
#grid-0-1-1-0-0.hover-grid-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0)!important
}
#grid-0-1-1-0-0.hover-grid-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1)!important
}
#grid-0-1-1-0-1.hover-grid-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0)!important
}
#grid-0-1-1-0-1.hover-grid-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1)!important
}
#grid-0-1-1-1-0.hover-grid-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0)!important
}
#grid-0-1-1-1-0.hover-grid-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1)!important
}
#grid-0-1-1-1-1.hover-grid-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0)!important
}
#grid-0-1-1-1-1.hover-grid-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1)!important
}
#grid-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-0-1.hover-grid-0-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-0-1.hover-grid-0-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-1)!important
}
#grid-0-0-0-0-1-0.hover-grid-0-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-0)!important
}
#grid-0-0-0-0-1-0.hover-grid-0-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-1)!important
}
#grid-0-0-0-0-1-1.hover-grid-0-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-0)!important
}
#grid-0-0-0-0-1-1.hover-grid-0-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-1)!important
}
#grid-0-0-0-1-0-0.hover-grid-0-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-0)!important
}
#grid-0-0-0-1-0-0.hover-grid-0-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-1)!important
}
#grid-0-0-0-1-0-1.hover-grid-0-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-0)!important
}
#grid-0-0-0-1-0-1.hover-grid-0-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-1)!important
}
#grid-0-0-0-1-1-0.hover-grid-0-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-0)!important
}
#grid-0-0-0-1-1-0.hover-grid-0-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-1)!important
}
#grid-0-0-0-1-1-1.hover-grid-0-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-0)!important
}
#grid-0-0-0-1-1-1.hover-grid-0-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-1)!important
}
#grid-0-0-1-0-0-0.hover-grid-0-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-0)!important
}
#grid-0-0-1-0-0-0.hover-grid-0-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-1)!important
}
#grid-0-0-1-0-0-1.hover-grid-0-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-0)!important
}
#grid-0-0-1-0-0-1.hover-grid-0-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-1)!important
}
#grid-0-0-1-0-1-0.hover-grid-0-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-0)!important
}
#grid-0-0-1-0-1-0.hover-grid-0-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-1)!important
}
#grid-0-0-1-0-1-1.hover-grid-0-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-0)!important
}
#grid-0-0-1-0-1-1.hover-grid-0-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-1)!important
}
#grid-0-0-1-1-0-0.hover-grid-0-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-0)!important
}
#grid-0-0-1-1-0-0.hover-grid-0-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-1)!important
}
#grid-0-0-1-1-0-1.hover-grid-0-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-0)!important
}
#grid-0-0-1-1-0-1.hover-grid-0-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-1)!important
}
#grid-0-0-1-1-1-0.hover-grid-0-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-0)!important
}
#grid-0-0-1-1-1-0.hover-grid-0-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-1)!important
}
#grid-0-0-1-1-1-1.hover-grid-0-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-0)!important
}
#grid-0-0-1-1-1-1.hover-grid-0-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-1)!important
}
#grid-0-1-0-0-0-0.hover-grid-0-1-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-0)!important
}
#grid-0-1-0-0-0-0.hover-grid-0-1-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-1)!important
}
#grid-0-1-0-0-0-1.hover-grid-0-1-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-0)!important
}
#grid-0-1-0-0-0-1.hover-grid-0-1-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-1)!important
}
#grid-0-1-0-0-1-0.hover-grid-0-1-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-0)!important
}
#grid-0-1-0-0-1-0.hover-grid-0-1-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-1)!important
}
#grid-0-1-0-0-1-1.hover-grid-0-1-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-0)!important
}
#grid-0-1-0-0-1-1.hover-grid-0-1-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-1)!important
}
#grid-0-1-0-1-0-0.hover-grid-0-1-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-0)!important
}
#grid-0-1-0-1-0-0.hover-grid-0-1-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-1)!important
}
#grid-0-1-0-1-0-1.hover-grid-0-1-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-0)!important
}
#grid-0-1-0-1-0-1.hover-grid-0-1-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-1)!important
}
#grid-0-1-0-1-1-0.hover-grid-0-1-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-0)!important
}
#grid-0-1-0-1-1-0.hover-grid-0-1-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-1)!important
}
#grid-0-1-0-1-1-1.hover-grid-0-1-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-0)!important
}
#grid-0-1-0-1-1-1.hover-grid-0-1-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-1)!important
}
#grid-0-1-1-0-0-0.hover-grid-0-1-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-0)!important
}
#grid-0-1-1-0-0-0.hover-grid-0-1-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-1)!important
}
#grid-0-1-1-0-0-1.hover-grid-0-1-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-0)!important
}
#grid-0-1-1-0-0-1.hover-grid-0-1-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-1)!important
}
#grid-0-1-1-0-1-0.hover-grid-0-1-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-0)!important
}
#grid-0-1-1-0-1-0.hover-grid-0-1-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-1)!important
}
#grid-0-1-1-0-1-1.hover-grid-0-1-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-0)!important
}
#grid-0-1-1-0-1-1.hover-grid-0-1-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-1)!important
}
#grid-0-1-1-1-0-0.hover-grid-0-1-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-0)!important
}
#grid-0-1-1-1-0-0.hover-grid-0-1-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-1)!important
}
#grid-0-1-1-1-0-1.hover-grid-0-1-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-0)!important
}
#grid-0-1-1-1-0-1.hover-grid-0-1-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-1)!important
}
#grid-0-1-1-1-1-0.hover-grid-0-1-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-0)!important
}
#grid-0-1-1-1-1-0.hover-grid-0-1-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-1)!important
}
#grid-0-1-1-1-1-1.hover-grid-0-1-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-0)!important
}
#grid-0-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-1)!important
}
#grid-0-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-0-0-1.hover-grid-0-0-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-0-0-1.hover-grid-0-0-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-1-1)!important
}
#grid-0-0-0-0-0-1-0.hover-grid-0-0-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-0-0)!important
}
#grid-0-0-0-0-0-1-0.hover-grid-0-0-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-0-1)!important
}
#grid-0-0-0-0-0-1-1.hover-grid-0-0-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-1-0)!important
}
#grid-0-0-0-0-0-1-1.hover-grid-0-0-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-1-1)!important
}
#grid-0-0-0-0-1-0-0.hover-grid-0-0-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-0-0)!important
}
#grid-0-0-0-0-1-0-0.hover-grid-0-0-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-0-1)!important
}
#grid-0-0-0-0-1-0-1.hover-grid-0-0-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-1-0)!important
}
#grid-0-0-0-0-1-0-1.hover-grid-0-0-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-1-1)!important
}
#grid-0-0-0-0-1-1-0.hover-grid-0-0-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-0-0)!important
}
#grid-0-0-0-0-1-1-0.hover-grid-0-0-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-0-1)!important
}
#grid-0-0-0-0-1-1-1.hover-grid-0-0-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-1-0)!important
}
#grid-0-0-0-0-1-1-1.hover-grid-0-0-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-1-1)!important
}
#grid-0-0-0-1-0-0-0.hover-grid-0-0-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-0-0)!important
}
#grid-0-0-0-1-0-0-0.hover-grid-0-0-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-0-1)!important
}
#grid-0-0-0-1-0-0-1.hover-grid-0-0-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-1-0)!important
}
#grid-0-0-0-1-0-0-1.hover-grid-0-0-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-1-1)!important
}
#grid-0-0-0-1-0-1-0.hover-grid-0-0-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-0-0)!important
}
#grid-0-0-0-1-0-1-0.hover-grid-0-0-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-0-1)!important
}
#grid-0-0-0-1-0-1-1.hover-grid-0-0-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-1-0)!important
}
#grid-0-0-0-1-0-1-1.hover-grid-0-0-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-1-1)!important
}
#grid-0-0-0-1-1-0-0.hover-grid-0-0-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-0-0)!important
}
#grid-0-0-0-1-1-0-0.hover-grid-0-0-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-0-1)!important
}
#grid-0-0-0-1-1-0-1.hover-grid-0-0-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-1-0)!important
}
#grid-0-0-0-1-1-0-1.hover-grid-0-0-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-1-1)!important
}
#grid-0-0-0-1-1-1-0.hover-grid-0-0-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-0-0)!important
}
#grid-0-0-0-1-1-1-0.hover-grid-0-0-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-0-1)!important
}
#grid-0-0-0-1-1-1-1.hover-grid-0-0-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-1-0)!important
}
#grid-0-0-0-1-1-1-1.hover-grid-0-0-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-1-1)!important
}
#grid-0-0-1-0-0-0-0.hover-grid-0-0-1-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-0-0)!important
}
#grid-0-0-1-0-0-0-0.hover-grid-0-0-1-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-0-1)!important
}
#grid-0-0-1-0-0-0-1.hover-grid-0-0-1-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-1-0)!important
}
#grid-0-0-1-0-0-0-1.hover-grid-0-0-1-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-1-1)!important
}
#grid-0-0-1-0-0-1-0.hover-grid-0-0-1-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-0-0)!important
}
#grid-0-0-1-0-0-1-0.hover-grid-0-0-1-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-0-1)!important
}
#grid-0-0-1-0-0-1-1.hover-grid-0-0-1-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-1-0)!important
}
#grid-0-0-1-0-0-1-1.hover-grid-0-0-1-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-1-1)!important
}
#grid-0-0-1-0-1-0-0.hover-grid-0-0-1-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-0-0)!important
}
#grid-0-0-1-0-1-0-0.hover-grid-0-0-1-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-0-1)!important
}
#grid-0-0-1-0-1-0-1.hover-grid-0-0-1-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-1-0)!important
}
#grid-0-0-1-0-1-0-1.hover-grid-0-0-1-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-1-1)!important
}
#grid-0-0-1-0-1-1-0.hover-grid-0-0-1-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-0-0)!important
}
#grid-0-0-1-0-1-1-0.hover-grid-0-0-1-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-0-1)!important
}
#grid-0-0-1-0-1-1-1.hover-grid-0-0-1-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-1-0)!important
}
#grid-0-0-1-0-1-1-1.hover-grid-0-0-1-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-1-1)!important
}
#grid-0-0-1-1-0-0-0.hover-grid-0-0-1-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-0-0)!important
}
#grid-0-0-1-1-0-0-0.hover-grid-0-0-1-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-0-1)!important
}
#grid-0-0-1-1-0-0-1.hover-grid-0-0-1-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-1-0)!important
}
#grid-0-0-1-1-0-0-1.hover-grid-0-0-1-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-1-1)!important
}
#grid-0-0-1-1-0-1-0.hover-grid-0-0-1-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-0-0)!important
}
#grid-0-0-1-1-0-1-0.hover-grid-0-0-1-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-0-1)!important
}
#grid-0-0-1-1-0-1-1.hover-grid-0-0-1-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-1-0)!important
}
#grid-0-0-1-1-0-1-1.hover-grid-0-0-1-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-1-1)!important
}
#grid-0-0-1-1-1-0-0.hover-grid-0-0-1-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-0-0)!important
}
#grid-0-0-1-1-1-0-0.hover-grid-0-0-1-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-0-1)!important
}
#grid-0-0-1-1-1-0-1.hover-grid-0-0-1-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-1-0)!important
}
#grid-0-0-1-1-1-0-1.hover-grid-0-0-1-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-1-1)!important
}
#grid-0-0-1-1-1-1-0.hover-grid-0-0-1-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-0-0)!important
}
#grid-0-0-1-1-1-1-0.hover-grid-0-0-1-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-0-1)!important
}
#grid-0-0-1-1-1-1-1.hover-grid-0-0-1-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-1-0)!important
}
#grid-0-0-1-1-1-1-1.hover-grid-0-0-1-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-1-1)!important
}
#grid-0-1-0-0-0-0-0.hover-grid-0-1-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-0-0)!important
}
#grid-0-1-0-0-0-0-0.hover-grid-0-1-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-0-1)!important
}
#grid-0-1-0-0-0-0-1.hover-grid-0-1-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-1-0)!important
}
#grid-0-1-0-0-0-0-1.hover-grid-0-1-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-1-1)!important
}
#grid-0-1-0-0-0-1-0.hover-grid-0-1-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-0-0)!important
}
#grid-0-1-0-0-0-1-0.hover-grid-0-1-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-0-1)!important
}
#grid-0-1-0-0-0-1-1.hover-grid-0-1-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-1-0)!important
}
#grid-0-1-0-0-0-1-1.hover-grid-0-1-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-1-1)!important
}
#grid-0-1-0-0-1-0-0.hover-grid-0-1-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-0-0)!important
}
#grid-0-1-0-0-1-0-0.hover-grid-0-1-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-0-1)!important
}
#grid-0-1-0-0-1-0-1.hover-grid-0-1-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-1-0)!important
}
#grid-0-1-0-0-1-0-1.hover-grid-0-1-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-1-1)!important
}
#grid-0-1-0-0-1-1-0.hover-grid-0-1-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-0-0)!important
}
#grid-0-1-0-0-1-1-0.hover-grid-0-1-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-0-1)!important
}
#grid-0-1-0-0-1-1-1.hover-grid-0-1-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-1-0)!important
}
#grid-0-1-0-0-1-1-1.hover-grid-0-1-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-1-1)!important
}
#grid-0-1-0-1-0-0-0.hover-grid-0-1-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-0-0)!important
}
#grid-0-1-0-1-0-0-0.hover-grid-0-1-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-0-1)!important
}
#grid-0-1-0-1-0-0-1.hover-grid-0-1-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-1-0)!important
}
#grid-0-1-0-1-0-0-1.hover-grid-0-1-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-1-1)!important
}
#grid-0-1-0-1-0-1-0.hover-grid-0-1-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-0-0)!important
}
#grid-0-1-0-1-0-1-0.hover-grid-0-1-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-0-1)!important
}
#grid-0-1-0-1-0-1-1.hover-grid-0-1-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-1-0)!important
}
#grid-0-1-0-1-0-1-1.hover-grid-0-1-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-1-1)!important
}
#grid-0-1-0-1-1-0-0.hover-grid-0-1-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-0-0)!important
}
#grid-0-1-0-1-1-0-0.hover-grid-0-1-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-0-1)!important
}
#grid-0-1-0-1-1-0-1.hover-grid-0-1-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-1-0)!important
}
#grid-0-1-0-1-1-0-1.hover-grid-0-1-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-1-1)!important
}
#grid-0-1-0-1-1-1-0.hover-grid-0-1-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-0-0)!important
}
#grid-0-1-0-1-1-1-0.hover-grid-0-1-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-0-1)!important
}
#grid-0-1-0-1-1-1-1.hover-grid-0-1-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-1-0)!important
}
#grid-0-1-0-1-1-1-1.hover-grid-0-1-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-1-1)!important
}
#grid-0-1-1-0-0-0-0.hover-grid-0-1-1-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-0-0)!important
}
#grid-0-1-1-0-0-0-0.hover-grid-0-1-1-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-0-1)!important
}
#grid-0-1-1-0-0-0-1.hover-grid-0-1-1-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-1-0)!important
}
#grid-0-1-1-0-0-0-1.hover-grid-0-1-1-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-1-1)!important
}
#grid-0-1-1-0-0-1-0.hover-grid-0-1-1-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-0-0)!important
}
#grid-0-1-1-0-0-1-0.hover-grid-0-1-1-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-0-1)!important
}
#grid-0-1-1-0-0-1-1.hover-grid-0-1-1-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-1-0)!important
}
#grid-0-1-1-0-0-1-1.hover-grid-0-1-1-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-1-1)!important
}
#grid-0-1-1-0-1-0-0.hover-grid-0-1-1-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-0-0)!important
}
#grid-0-1-1-0-1-0-0.hover-grid-0-1-1-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-0-1)!important
}
#grid-0-1-1-0-1-0-1.hover-grid-0-1-1-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-1-0)!important
}
#grid-0-1-1-0-1-0-1.hover-grid-0-1-1-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-1-1)!important
}
#grid-0-1-1-0-1-1-0.hover-grid-0-1-1-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-0-0)!important
}
#grid-0-1-1-0-1-1-0.hover-grid-0-1-1-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-0-1)!important
}
#grid-0-1-1-0-1-1-1.hover-grid-0-1-1-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-1-0)!important
}
#grid-0-1-1-0-1-1-1.hover-grid-0-1-1-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-1-1)!important
}
#grid-0-1-1-1-0-0-0.hover-grid-0-1-1-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-0-0)!important
}
#grid-0-1-1-1-0-0-0.hover-grid-0-1-1-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-0-1)!important
}
#grid-0-1-1-1-0-0-1.hover-grid-0-1-1-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-1-0)!important
}
#grid-0-1-1-1-0-0-1.hover-grid-0-1-1-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-1-1)!important
}
#grid-0-1-1-1-0-1-0.hover-grid-0-1-1-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-0-0)!important
}
#grid-0-1-1-1-0-1-0.hover-grid-0-1-1-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-0-1)!important
}
#grid-0-1-1-1-0-1-1.hover-grid-0-1-1-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-1-0)!important
}
#grid-0-1-1-1-0-1-1.hover-grid-0-1-1-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-1-1)!important
}
#grid-0-1-1-1-1-0-0.hover-grid-0-1-1-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-0-0)!important
}
#grid-0-1-1-1-1-0-0.hover-grid-0-1-1-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-0-1)!important
}
#grid-0-1-1-1-1-0-1.hover-grid-0-1-1-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-1-0)!important
}
#grid-0-1-1-1-1-0-1.hover-grid-0-1-1-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-1-1)!important
}
#grid-0-1-1-1-1-1-0.hover-grid-0-1-1-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-0-0)!important
}
#grid-0-1-1-1-1-1-0.hover-grid-0-1-1-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-0-1)!important
}
#grid-0-1-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-1-0)!important
}
#grid-0-1-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-1-1)!important
}