:root {
  --background: #111116;
  --short: 0.2s cubic-bezier(0.5,0,0.5,1);
  --medium: 0.4s cubic-bezier(0.5,0,0.5,1);
  --padding: 8px;
  --top-gap: 60px;
  --border-radius: 32px;
}

html {
  background: var(--background);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(255,255,255,0.8);
  width: 100%;
}

.content {
  position: absolute;
  padding: var(--top-gap) var(--padding) var(--padding) var(--padding);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  grid-gap: 0;
  height: var(--top-gap);
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #111116 70%, rgba(17, 17, 22, 0.00) 100%);
  padding: 0 var(--padding);
  z-index: 99;
}
.fsdsdfsfd {
  width: 0%;
  transition: var(--medium);
}
.navbar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 var(--padding);
  transition: var(--medium);
  place-self: end;
}
.project-open nav {
  grid-gap: var(--padding);
}
.project-open .fsdsdfsfd {
  width: 20%;
}
.project-open .navbar {
  width: 80%;
}
.top-action {
  cursor: pointer;
  display: inline-block;
}

.top-action .randomize, .project-open .top-action .back {
  display: block;
}

.project-open .top-action .randomize, .top-action .back {
  display: none;
}

.project-open .content {
  padding: 0;
}
.title {
  position: relative;
  place-self: center;
  color: #fff;
  transition: var(--short);
}
#grid- {
  height:100%;
  width:100%;
  transition: var(--medium);
}
div[type='grid-item'] {
  width: 100%;
  height: 100%;
  transition: var(--short);
  grid-gap: var(--padding);
}
div[type='tile'], .placeholder-tile {
  position: relative;
  opacity: 0;
  display: flex;
  overflow: hidden;
  width: auto;
  height: auto;
  background: #242429;
  border-radius: var(--border-radius);
  transition: var(--medium), var(--short) background, 0s transform; /*how to make transform 0s at the right time?*/
  cursor: pointer;
}

div[type='tile'].inactive {
  transition: var(--medium), var(--short) background, var(--medium) transform;
}

div[type='tile'].focus {
  transition: var(--medium), var(--short) background, var(--medium) transform;
}
.placeholder-tile {
  background: #242429;
  box-shadow: none;
}
div[type='tile']:hover {
  background: rgba(255,255,255,0.09);
}
.tile-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 24px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(255,255,255,0.8);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

#modal-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  grid-gap: var(--padding);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  pointer-events: none;
  padding: var(--top-gap) var(--padding) var(--padding) var(--padding);
  transition: 0.4s ease;
}
.project-open #modal-wrapper {
  pointer-events: all;
}

.side-menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-gap: var(--padding);
}

.side-menu-item {
  width: 100%;
  min-height: 200px;
}

.case-section {
  width: 80%;
  height: 100%;
}
div[type='tile'].active {
  position: absolute;
  z-index: 1;
  background: rgba(36,36,41);
  pointer-events: all!important;
  cursor: auto!important;
}

.background-blur {
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: 1.5s cubic-bezier(0,1.4,.5,1), 0.7s ease-out transform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  /* mix-blend-mode: hard-light; */
}
.background-blur img {
  position: absolute;
  width: 150%;
  height: 150%;
  top: 0%;
  left: 0%;
  transform: translate(-50%,-50%);
}

.test-blur {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-height: 200%;
  transform: translate(-50%,50%);
  opacity: 0;
  transition: 1s ease;
}
.hover .test-blur {
  opacity: 0.75;
}
.placeholder-side-tile {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: auto;
  height: auto;
  border-radius: var(--border-radius);
  background: #1e1e22;
  transition: var(--short) opacity;
}
.project-open .placeholder-side-tile {
  opacity: 1;
}



/*set following in js:*/

#grid-0.hover-grid-0-0 {
  grid-template: var(--hover-0-0)!important
}
#grid-0.hover-grid-0-1 {
  grid-template: var(--hover-0-1)!important
}
#grid-0-0.hover-grid-0-0-0 {
  grid-template: var(--hover-0-0-0)!important
}
#grid-0-0.hover-grid-0-0-1 {
  grid-template: var(--hover-0-0-1)!important
}
#grid-0-1.hover-grid-0-1-0 {
  grid-template: var(--hover-0-1-0)!important
}
#grid-0-1.hover-grid-0-1-1 {
  grid-template: var(--hover-0-1-1)!important
}
#grid-0-0-0.hover-grid-0-0-0-0 {
  grid-template: var(--hover-0-0-0-0)!important
}
#grid-0-0-0.hover-grid-0-0-0-1 {
  grid-template: var(--hover-0-0-0-1)!important
}
#grid-0-0-1.hover-grid-0-0-1-0 {
  grid-template: var(--hover-0-0-1-0)!important
}
#grid-0-0-1.hover-grid-0-0-1-1 {
  grid-template: var(--hover-0-0-1-1)!important
}
#grid-0-1-0.hover-grid-0-1-0-0 {
  grid-template: var(--hover-0-1-0-0)!important
}
#grid-0-1-0.hover-grid-0-1-0-1 {
  grid-template: var(--hover-0-1-0-1)!important
}
#grid-0-1-1.hover-grid-0-1-1-0 {
  grid-template: var(--hover-0-1-1-0)!important
}
#grid-0-1-1.hover-grid-0-1-1-1 {
  grid-template: var(--hover-0-1-1-1)!important
}
#grid-0-0-0-0.hover-grid-0-0-0-0-0 {
  grid-template: var(--hover-0-0-0-0-0)!important
}
#grid-0-0-0-0.hover-grid-0-0-0-0-1 {
  grid-template: var(--hover-0-0-0-0-1)!important
}
#grid-0-0-0-1.hover-grid-0-0-0-1-0 {
  grid-template: var(--hover-0-0-0-1-0)!important
}
#grid-0-0-0-1.hover-grid-0-0-0-1-1 {
  grid-template: var(--hover-0-0-0-1-1)!important
}
#grid-0-0-1-0.hover-grid-0-0-1-0-0 {
  grid-template: var(--hover-0-0-1-0-0)!important
}
#grid-0-0-1-0.hover-grid-0-0-1-0-1 {
  grid-template: var(--hover-0-0-1-0-1)!important
}
#grid-0-0-1-1.hover-grid-0-0-1-1-0 {
  grid-template: var(--hover-0-0-1-1-0)!important
}
#grid-0-0-1-1.hover-grid-0-0-1-1-1 {
  grid-template: var(--hover-0-0-1-1-1)!important
}
#grid-0-1-0-0.hover-grid-0-1-0-0-0 {
  grid-template: var(--hover-0-1-0-0-0)!important
}
#grid-0-1-0-0.hover-grid-0-1-0-0-1 {
  grid-template: var(--hover-0-1-0-0-1)!important
}
#grid-0-1-0-1.hover-grid-0-1-0-1-0 {
  grid-template: var(--hover-0-1-0-1-0)!important
}
#grid-0-1-0-1.hover-grid-0-1-0-1-1 {
  grid-template: var(--hover-0-1-0-1-1)!important
}
#grid-0-1-1-0.hover-grid-0-1-1-0-0 {
  grid-template: var(--hover-0-1-1-0-0)!important
}
#grid-0-1-1-0.hover-grid-0-1-1-0-1 {
  grid-template: var(--hover-0-1-1-0-1)!important
}
#grid-0-1-1-1.hover-grid-0-1-1-1-0 {
  grid-template: var(--hover-0-1-1-1-0)!important
}
#grid-0-1-1-1.hover-grid-0-1-1-1-1 {
  grid-template: var(--hover-0-1-1-1-1)!important
}
#grid-0-0-0-0-0.hover-grid-0-0-0-0-0-0 {
  grid-template: var(--hover-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0.hover-grid-0-0-0-0-0-1 {
  grid-template: var(--hover-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-1.hover-grid-0-0-0-0-1-0 {
  grid-template: var(--hover-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-1.hover-grid-0-0-0-0-1-1 {
  grid-template: var(--hover-0-0-0-0-1-1)!important
}
#grid-0-0-0-1-0.hover-grid-0-0-0-1-0-0 {
  grid-template: var(--hover-0-0-0-1-0-0)!important
}
#grid-0-0-0-1-0.hover-grid-0-0-0-1-0-1 {
  grid-template: var(--hover-0-0-0-1-0-1)!important
}
#grid-0-0-0-1-1.hover-grid-0-0-0-1-1-0 {
  grid-template: var(--hover-0-0-0-1-1-0)!important
}
#grid-0-0-0-1-1.hover-grid-0-0-0-1-1-1 {
  grid-template: var(--hover-0-0-0-1-1-1)!important
}
#grid-0-0-1-0-0.hover-grid-0-0-1-0-0-0 {
  grid-template: var(--hover-0-0-1-0-0-0)!important
}
#grid-0-0-1-0-0.hover-grid-0-0-1-0-0-1 {
  grid-template: var(--hover-0-0-1-0-0-1)!important
}
#grid-0-0-1-0-1.hover-grid-0-0-1-0-1-0 {
  grid-template: var(--hover-0-0-1-0-1-0)!important
}
#grid-0-0-1-0-1.hover-grid-0-0-1-0-1-1 {
  grid-template: var(--hover-0-0-1-0-1-1)!important
}
#grid-0-0-1-1-0.hover-grid-0-0-1-1-0-0 {
  grid-template: var(--hover-0-0-1-1-0-0)!important
}
#grid-0-0-1-1-0.hover-grid-0-0-1-1-0-1 {
  grid-template: var(--hover-0-0-1-1-0-1)!important
}
#grid-0-0-1-1-1.hover-grid-0-0-1-1-1-0 {
  grid-template: var(--hover-0-0-1-1-1-0)!important
}
#grid-0-0-1-1-1.hover-grid-0-0-1-1-1-1 {
  grid-template: var(--hover-0-0-1-1-1-1)!important
}
#grid-0-1-0-0-0.hover-grid-0-1-0-0-0-0 {
  grid-template: var(--hover-0-1-0-0-0-0)!important
}
#grid-0-1-0-0-0.hover-grid-0-1-0-0-0-1 {
  grid-template: var(--hover-0-1-0-0-0-1)!important
}
#grid-0-1-0-0-1.hover-grid-0-1-0-0-1-0 {
  grid-template: var(--hover-0-1-0-0-1-0)!important
}
#grid-0-1-0-0-1.hover-grid-0-1-0-0-1-1 {
  grid-template: var(--hover-0-1-0-0-1-1)!important
}
#grid-0-1-0-1-0.hover-grid-0-1-0-1-0-0 {
  grid-template: var(--hover-0-1-0-1-0-0)!important
}
#grid-0-1-0-1-0.hover-grid-0-1-0-1-0-1 {
  grid-template: var(--hover-0-1-0-1-0-1)!important
}
#grid-0-1-0-1-1.hover-grid-0-1-0-1-1-0 {
  grid-template: var(--hover-0-1-0-1-1-0)!important
}
#grid-0-1-0-1-1.hover-grid-0-1-0-1-1-1 {
  grid-template: var(--hover-0-1-0-1-1-1)!important
}
#grid-0-1-1-0-0.hover-grid-0-1-1-0-0-0 {
  grid-template: var(--hover-0-1-1-0-0-0)!important
}
#grid-0-1-1-0-0.hover-grid-0-1-1-0-0-1 {
  grid-template: var(--hover-0-1-1-0-0-1)!important
}
#grid-0-1-1-0-1.hover-grid-0-1-1-0-1-0 {
  grid-template: var(--hover-0-1-1-0-1-0)!important
}
#grid-0-1-1-0-1.hover-grid-0-1-1-0-1-1 {
  grid-template: var(--hover-0-1-1-0-1-1)!important
}
#grid-0-1-1-1-0.hover-grid-0-1-1-1-0-0 {
  grid-template: var(--hover-0-1-1-1-0-0)!important
}
#grid-0-1-1-1-0.hover-grid-0-1-1-1-0-1 {
  grid-template: var(--hover-0-1-1-1-0-1)!important
}
#grid-0-1-1-1-1.hover-grid-0-1-1-1-1-0 {
  grid-template: var(--hover-0-1-1-1-1-0)!important
}
#grid-0-1-1-1-1.hover-grid-0-1-1-1-1-1 {
  grid-template: var(--hover-0-1-1-1-1-1)!important
}
#grid-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0 {
  grid-template: var(--hover-0-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-1 {
  grid-template: var(--hover-0-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-0-1.hover-grid-0-0-0-0-0-1-0 {
  grid-template: var(--hover-0-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-0-1.hover-grid-0-0-0-0-0-1-1 {
  grid-template: var(--hover-0-0-0-0-0-1-1)!important
}
#grid-0-0-0-0-1-0.hover-grid-0-0-0-0-1-0-0 {
  grid-template: var(--hover-0-0-0-0-1-0-0)!important
}
#grid-0-0-0-0-1-0.hover-grid-0-0-0-0-1-0-1 {
  grid-template: var(--hover-0-0-0-0-1-0-1)!important
}
#grid-0-0-0-0-1-1.hover-grid-0-0-0-0-1-1-0 {
  grid-template: var(--hover-0-0-0-0-1-1-0)!important
}
#grid-0-0-0-0-1-1.hover-grid-0-0-0-0-1-1-1 {
  grid-template: var(--hover-0-0-0-0-1-1-1)!important
}
#grid-0-0-0-1-0-0.hover-grid-0-0-0-1-0-0-0 {
  grid-template: var(--hover-0-0-0-1-0-0-0)!important
}
#grid-0-0-0-1-0-0.hover-grid-0-0-0-1-0-0-1 {
  grid-template: var(--hover-0-0-0-1-0-0-1)!important
}
#grid-0-0-0-1-0-1.hover-grid-0-0-0-1-0-1-0 {
  grid-template: var(--hover-0-0-0-1-0-1-0)!important
}
#grid-0-0-0-1-0-1.hover-grid-0-0-0-1-0-1-1 {
  grid-template: var(--hover-0-0-0-1-0-1-1)!important
}
#grid-0-0-0-1-1-0.hover-grid-0-0-0-1-1-0-0 {
  grid-template: var(--hover-0-0-0-1-1-0-0)!important
}
#grid-0-0-0-1-1-0.hover-grid-0-0-0-1-1-0-1 {
  grid-template: var(--hover-0-0-0-1-1-0-1)!important
}
#grid-0-0-0-1-1-1.hover-grid-0-0-0-1-1-1-0 {
  grid-template: var(--hover-0-0-0-1-1-1-0)!important
}
#grid-0-0-0-1-1-1.hover-grid-0-0-0-1-1-1-1 {
  grid-template: var(--hover-0-0-0-1-1-1-1)!important
}
#grid-0-0-1-0-0-0.hover-grid-0-0-1-0-0-0-0 {
  grid-template: var(--hover-0-0-1-0-0-0-0)!important
}
#grid-0-0-1-0-0-0.hover-grid-0-0-1-0-0-0-1 {
  grid-template: var(--hover-0-0-1-0-0-0-1)!important
}
#grid-0-0-1-0-0-1.hover-grid-0-0-1-0-0-1-0 {
  grid-template: var(--hover-0-0-1-0-0-1-0)!important
}
#grid-0-0-1-0-0-1.hover-grid-0-0-1-0-0-1-1 {
  grid-template: var(--hover-0-0-1-0-0-1-1)!important
}
#grid-0-0-1-0-1-0.hover-grid-0-0-1-0-1-0-0 {
  grid-template: var(--hover-0-0-1-0-1-0-0)!important
}
#grid-0-0-1-0-1-0.hover-grid-0-0-1-0-1-0-1 {
  grid-template: var(--hover-0-0-1-0-1-0-1)!important
}
#grid-0-0-1-0-1-1.hover-grid-0-0-1-0-1-1-0 {
  grid-template: var(--hover-0-0-1-0-1-1-0)!important
}
#grid-0-0-1-0-1-1.hover-grid-0-0-1-0-1-1-1 {
  grid-template: var(--hover-0-0-1-0-1-1-1)!important
}
#grid-0-0-1-1-0-0.hover-grid-0-0-1-1-0-0-0 {
  grid-template: var(--hover-0-0-1-1-0-0-0)!important
}
#grid-0-0-1-1-0-0.hover-grid-0-0-1-1-0-0-1 {
  grid-template: var(--hover-0-0-1-1-0-0-1)!important
}
#grid-0-0-1-1-0-1.hover-grid-0-0-1-1-0-1-0 {
  grid-template: var(--hover-0-0-1-1-0-1-0)!important
}
#grid-0-0-1-1-0-1.hover-grid-0-0-1-1-0-1-1 {
  grid-template: var(--hover-0-0-1-1-0-1-1)!important
}
#grid-0-0-1-1-1-0.hover-grid-0-0-1-1-1-0-0 {
  grid-template: var(--hover-0-0-1-1-1-0-0)!important
}
#grid-0-0-1-1-1-0.hover-grid-0-0-1-1-1-0-1 {
  grid-template: var(--hover-0-0-1-1-1-0-1)!important
}
#grid-0-0-1-1-1-1.hover-grid-0-0-1-1-1-1-0 {
  grid-template: var(--hover-0-0-1-1-1-1-0)!important
}
#grid-0-0-1-1-1-1.hover-grid-0-0-1-1-1-1-1 {
  grid-template: var(--hover-0-0-1-1-1-1-1)!important
}
#grid-0-1-0-0-0-0.hover-grid-0-1-0-0-0-0-0 {
  grid-template: var(--hover-0-1-0-0-0-0-0)!important
}
#grid-0-1-0-0-0-0.hover-grid-0-1-0-0-0-0-1 {
  grid-template: var(--hover-0-1-0-0-0-0-1)!important
}
#grid-0-1-0-0-0-1.hover-grid-0-1-0-0-0-1-0 {
  grid-template: var(--hover-0-1-0-0-0-1-0)!important
}
#grid-0-1-0-0-0-1.hover-grid-0-1-0-0-0-1-1 {
  grid-template: var(--hover-0-1-0-0-0-1-1)!important
}
#grid-0-1-0-0-1-0.hover-grid-0-1-0-0-1-0-0 {
  grid-template: var(--hover-0-1-0-0-1-0-0)!important
}
#grid-0-1-0-0-1-0.hover-grid-0-1-0-0-1-0-1 {
  grid-template: var(--hover-0-1-0-0-1-0-1)!important
}
#grid-0-1-0-0-1-1.hover-grid-0-1-0-0-1-1-0 {
  grid-template: var(--hover-0-1-0-0-1-1-0)!important
}
#grid-0-1-0-0-1-1.hover-grid-0-1-0-0-1-1-1 {
  grid-template: var(--hover-0-1-0-0-1-1-1)!important
}
#grid-0-1-0-1-0-0.hover-grid-0-1-0-1-0-0-0 {
  grid-template: var(--hover-0-1-0-1-0-0-0)!important
}
#grid-0-1-0-1-0-0.hover-grid-0-1-0-1-0-0-1 {
  grid-template: var(--hover-0-1-0-1-0-0-1)!important
}
#grid-0-1-0-1-0-1.hover-grid-0-1-0-1-0-1-0 {
  grid-template: var(--hover-0-1-0-1-0-1-0)!important
}
#grid-0-1-0-1-0-1.hover-grid-0-1-0-1-0-1-1 {
  grid-template: var(--hover-0-1-0-1-0-1-1)!important
}
#grid-0-1-0-1-1-0.hover-grid-0-1-0-1-1-0-0 {
  grid-template: var(--hover-0-1-0-1-1-0-0)!important
}
#grid-0-1-0-1-1-0.hover-grid-0-1-0-1-1-0-1 {
  grid-template: var(--hover-0-1-0-1-1-0-1)!important
}
#grid-0-1-0-1-1-1.hover-grid-0-1-0-1-1-1-0 {
  grid-template: var(--hover-0-1-0-1-1-1-0)!important
}
#grid-0-1-0-1-1-1.hover-grid-0-1-0-1-1-1-1 {
  grid-template: var(--hover-0-1-0-1-1-1-1)!important
}
#grid-0-1-1-0-0-0.hover-grid-0-1-1-0-0-0-0 {
  grid-template: var(--hover-0-1-1-0-0-0-0)!important
}
#grid-0-1-1-0-0-0.hover-grid-0-1-1-0-0-0-1 {
  grid-template: var(--hover-0-1-1-0-0-0-1)!important
}
#grid-0-1-1-0-0-1.hover-grid-0-1-1-0-0-1-0 {
  grid-template: var(--hover-0-1-1-0-0-1-0)!important
}
#grid-0-1-1-0-0-1.hover-grid-0-1-1-0-0-1-1 {
  grid-template: var(--hover-0-1-1-0-0-1-1)!important
}
#grid-0-1-1-0-1-0.hover-grid-0-1-1-0-1-0-0 {
  grid-template: var(--hover-0-1-1-0-1-0-0)!important
}
#grid-0-1-1-0-1-0.hover-grid-0-1-1-0-1-0-1 {
  grid-template: var(--hover-0-1-1-0-1-0-1)!important
}
#grid-0-1-1-0-1-1.hover-grid-0-1-1-0-1-1-0 {
  grid-template: var(--hover-0-1-1-0-1-1-0)!important
}
#grid-0-1-1-0-1-1.hover-grid-0-1-1-0-1-1-1 {
  grid-template: var(--hover-0-1-1-0-1-1-1)!important
}
#grid-0-1-1-1-0-0.hover-grid-0-1-1-1-0-0-0 {
  grid-template: var(--hover-0-1-1-1-0-0-0)!important
}
#grid-0-1-1-1-0-0.hover-grid-0-1-1-1-0-0-1 {
  grid-template: var(--hover-0-1-1-1-0-0-1)!important
}
#grid-0-1-1-1-0-1.hover-grid-0-1-1-1-0-1-0 {
  grid-template: var(--hover-0-1-1-1-0-1-0)!important
}
#grid-0-1-1-1-0-1.hover-grid-0-1-1-1-0-1-1 {
  grid-template: var(--hover-0-1-1-1-0-1-1)!important
}
#grid-0-1-1-1-1-0.hover-grid-0-1-1-1-1-0-0 {
  grid-template: var(--hover-0-1-1-1-1-0-0)!important
}
#grid-0-1-1-1-1-0.hover-grid-0-1-1-1-1-0-1 {
  grid-template: var(--hover-0-1-1-1-1-0-1)!important
}
#grid-0-1-1-1-1-1.hover-grid-0-1-1-1-1-1-0 {
  grid-template: var(--hover-0-1-1-1-1-1-0)!important
}
#grid-0-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1 {
  grid-template: var(--hover-0-1-1-1-1-1-1)!important
}
#grid-0-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0-0 {
  grid-template: var(--hover-0-0-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0-1 {
  grid-template: var(--hover-0-0-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-0-0-1.hover-grid-0-0-0-0-0-0-1-0 {
  grid-template: var(--hover-0-0-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-0-0-1.hover-grid-0-0-0-0-0-0-1-1 {
  grid-template: var(--hover-0-0-0-0-0-0-1-1)!important
}
#grid-0-0-0-0-0-1-0.hover-grid-0-0-0-0-0-1-0-0 {
  grid-template: var(--hover-0-0-0-0-0-1-0-0)!important
}
#grid-0-0-0-0-0-1-0.hover-grid-0-0-0-0-0-1-0-1 {
  grid-template: var(--hover-0-0-0-0-0-1-0-1)!important
}
#grid-0-0-0-0-0-1-1.hover-grid-0-0-0-0-0-1-1-0 {
  grid-template: var(--hover-0-0-0-0-0-1-1-0)!important
}
#grid-0-0-0-0-0-1-1.hover-grid-0-0-0-0-0-1-1-1 {
  grid-template: var(--hover-0-0-0-0-0-1-1-1)!important
}
#grid-0-0-0-0-1-0-0.hover-grid-0-0-0-0-1-0-0-0 {
  grid-template: var(--hover-0-0-0-0-1-0-0-0)!important
}
#grid-0-0-0-0-1-0-0.hover-grid-0-0-0-0-1-0-0-1 {
  grid-template: var(--hover-0-0-0-0-1-0-0-1)!important
}
#grid-0-0-0-0-1-0-1.hover-grid-0-0-0-0-1-0-1-0 {
  grid-template: var(--hover-0-0-0-0-1-0-1-0)!important
}
#grid-0-0-0-0-1-0-1.hover-grid-0-0-0-0-1-0-1-1 {
  grid-template: var(--hover-0-0-0-0-1-0-1-1)!important
}
#grid-0-0-0-0-1-1-0.hover-grid-0-0-0-0-1-1-0-0 {
  grid-template: var(--hover-0-0-0-0-1-1-0-0)!important
}
#grid-0-0-0-0-1-1-0.hover-grid-0-0-0-0-1-1-0-1 {
  grid-template: var(--hover-0-0-0-0-1-1-0-1)!important
}
#grid-0-0-0-0-1-1-1.hover-grid-0-0-0-0-1-1-1-0 {
  grid-template: var(--hover-0-0-0-0-1-1-1-0)!important
}
#grid-0-0-0-0-1-1-1.hover-grid-0-0-0-0-1-1-1-1 {
  grid-template: var(--hover-0-0-0-0-1-1-1-1)!important
}
#grid-0-0-0-1-0-0-0.hover-grid-0-0-0-1-0-0-0-0 {
  grid-template: var(--hover-0-0-0-1-0-0-0-0)!important
}
#grid-0-0-0-1-0-0-0.hover-grid-0-0-0-1-0-0-0-1 {
  grid-template: var(--hover-0-0-0-1-0-0-0-1)!important
}
#grid-0-0-0-1-0-0-1.hover-grid-0-0-0-1-0-0-1-0 {
  grid-template: var(--hover-0-0-0-1-0-0-1-0)!important
}
#grid-0-0-0-1-0-0-1.hover-grid-0-0-0-1-0-0-1-1 {
  grid-template: var(--hover-0-0-0-1-0-0-1-1)!important
}
#grid-0-0-0-1-0-1-0.hover-grid-0-0-0-1-0-1-0-0 {
  grid-template: var(--hover-0-0-0-1-0-1-0-0)!important
}
#grid-0-0-0-1-0-1-0.hover-grid-0-0-0-1-0-1-0-1 {
  grid-template: var(--hover-0-0-0-1-0-1-0-1)!important
}
#grid-0-0-0-1-0-1-1.hover-grid-0-0-0-1-0-1-1-0 {
  grid-template: var(--hover-0-0-0-1-0-1-1-0)!important
}
#grid-0-0-0-1-0-1-1.hover-grid-0-0-0-1-0-1-1-1 {
  grid-template: var(--hover-0-0-0-1-0-1-1-1)!important
}
#grid-0-0-0-1-1-0-0.hover-grid-0-0-0-1-1-0-0-0 {
  grid-template: var(--hover-0-0-0-1-1-0-0-0)!important
}
#grid-0-0-0-1-1-0-0.hover-grid-0-0-0-1-1-0-0-1 {
  grid-template: var(--hover-0-0-0-1-1-0-0-1)!important
}
#grid-0-0-0-1-1-0-1.hover-grid-0-0-0-1-1-0-1-0 {
  grid-template: var(--hover-0-0-0-1-1-0-1-0)!important
}
#grid-0-0-0-1-1-0-1.hover-grid-0-0-0-1-1-0-1-1 {
  grid-template: var(--hover-0-0-0-1-1-0-1-1)!important
}
#grid-0-0-0-1-1-1-0.hover-grid-0-0-0-1-1-1-0-0 {
  grid-template: var(--hover-0-0-0-1-1-1-0-0)!important
}
#grid-0-0-0-1-1-1-0.hover-grid-0-0-0-1-1-1-0-1 {
  grid-template: var(--hover-0-0-0-1-1-1-0-1)!important
}
#grid-0-0-0-1-1-1-1.hover-grid-0-0-0-1-1-1-1-0 {
  grid-template: var(--hover-0-0-0-1-1-1-1-0)!important
}
#grid-0-0-0-1-1-1-1.hover-grid-0-0-0-1-1-1-1-1 {
  grid-template: var(--hover-0-0-0-1-1-1-1-1)!important
}
#grid-0-0-1-0-0-0-0.hover-grid-0-0-1-0-0-0-0-0 {
  grid-template: var(--hover-0-0-1-0-0-0-0-0)!important
}
#grid-0-0-1-0-0-0-0.hover-grid-0-0-1-0-0-0-0-1 {
  grid-template: var(--hover-0-0-1-0-0-0-0-1)!important
}
#grid-0-0-1-0-0-0-1.hover-grid-0-0-1-0-0-0-1-0 {
  grid-template: var(--hover-0-0-1-0-0-0-1-0)!important
}
#grid-0-0-1-0-0-0-1.hover-grid-0-0-1-0-0-0-1-1 {
  grid-template: var(--hover-0-0-1-0-0-0-1-1)!important
}
#grid-0-0-1-0-0-1-0.hover-grid-0-0-1-0-0-1-0-0 {
  grid-template: var(--hover-0-0-1-0-0-1-0-0)!important
}
#grid-0-0-1-0-0-1-0.hover-grid-0-0-1-0-0-1-0-1 {
  grid-template: var(--hover-0-0-1-0-0-1-0-1)!important
}
#grid-0-0-1-0-0-1-1.hover-grid-0-0-1-0-0-1-1-0 {
  grid-template: var(--hover-0-0-1-0-0-1-1-0)!important
}
#grid-0-0-1-0-0-1-1.hover-grid-0-0-1-0-0-1-1-1 {
  grid-template: var(--hover-0-0-1-0-0-1-1-1)!important
}
#grid-0-0-1-0-1-0-0.hover-grid-0-0-1-0-1-0-0-0 {
  grid-template: var(--hover-0-0-1-0-1-0-0-0)!important
}
#grid-0-0-1-0-1-0-0.hover-grid-0-0-1-0-1-0-0-1 {
  grid-template: var(--hover-0-0-1-0-1-0-0-1)!important
}
#grid-0-0-1-0-1-0-1.hover-grid-0-0-1-0-1-0-1-0 {
  grid-template: var(--hover-0-0-1-0-1-0-1-0)!important
}
#grid-0-0-1-0-1-0-1.hover-grid-0-0-1-0-1-0-1-1 {
  grid-template: var(--hover-0-0-1-0-1-0-1-1)!important
}
#grid-0-0-1-0-1-1-0.hover-grid-0-0-1-0-1-1-0-0 {
  grid-template: var(--hover-0-0-1-0-1-1-0-0)!important
}
#grid-0-0-1-0-1-1-0.hover-grid-0-0-1-0-1-1-0-1 {
  grid-template: var(--hover-0-0-1-0-1-1-0-1)!important
}
#grid-0-0-1-0-1-1-1.hover-grid-0-0-1-0-1-1-1-0 {
  grid-template: var(--hover-0-0-1-0-1-1-1-0)!important
}
#grid-0-0-1-0-1-1-1.hover-grid-0-0-1-0-1-1-1-1 {
  grid-template: var(--hover-0-0-1-0-1-1-1-1)!important
}
#grid-0-0-1-1-0-0-0.hover-grid-0-0-1-1-0-0-0-0 {
  grid-template: var(--hover-0-0-1-1-0-0-0-0)!important
}
#grid-0-0-1-1-0-0-0.hover-grid-0-0-1-1-0-0-0-1 {
  grid-template: var(--hover-0-0-1-1-0-0-0-1)!important
}
#grid-0-0-1-1-0-0-1.hover-grid-0-0-1-1-0-0-1-0 {
  grid-template: var(--hover-0-0-1-1-0-0-1-0)!important
}
#grid-0-0-1-1-0-0-1.hover-grid-0-0-1-1-0-0-1-1 {
  grid-template: var(--hover-0-0-1-1-0-0-1-1)!important
}
#grid-0-0-1-1-0-1-0.hover-grid-0-0-1-1-0-1-0-0 {
  grid-template: var(--hover-0-0-1-1-0-1-0-0)!important
}
#grid-0-0-1-1-0-1-0.hover-grid-0-0-1-1-0-1-0-1 {
  grid-template: var(--hover-0-0-1-1-0-1-0-1)!important
}
#grid-0-0-1-1-0-1-1.hover-grid-0-0-1-1-0-1-1-0 {
  grid-template: var(--hover-0-0-1-1-0-1-1-0)!important
}
#grid-0-0-1-1-0-1-1.hover-grid-0-0-1-1-0-1-1-1 {
  grid-template: var(--hover-0-0-1-1-0-1-1-1)!important
}
#grid-0-0-1-1-1-0-0.hover-grid-0-0-1-1-1-0-0-0 {
  grid-template: var(--hover-0-0-1-1-1-0-0-0)!important
}
#grid-0-0-1-1-1-0-0.hover-grid-0-0-1-1-1-0-0-1 {
  grid-template: var(--hover-0-0-1-1-1-0-0-1)!important
}
#grid-0-0-1-1-1-0-1.hover-grid-0-0-1-1-1-0-1-0 {
  grid-template: var(--hover-0-0-1-1-1-0-1-0)!important
}
#grid-0-0-1-1-1-0-1.hover-grid-0-0-1-1-1-0-1-1 {
  grid-template: var(--hover-0-0-1-1-1-0-1-1)!important
}
#grid-0-0-1-1-1-1-0.hover-grid-0-0-1-1-1-1-0-0 {
  grid-template: var(--hover-0-0-1-1-1-1-0-0)!important
}
#grid-0-0-1-1-1-1-0.hover-grid-0-0-1-1-1-1-0-1 {
  grid-template: var(--hover-0-0-1-1-1-1-0-1)!important
}
#grid-0-0-1-1-1-1-1.hover-grid-0-0-1-1-1-1-1-0 {
  grid-template: var(--hover-0-0-1-1-1-1-1-0)!important
}
#grid-0-0-1-1-1-1-1.hover-grid-0-0-1-1-1-1-1-1 {
  grid-template: var(--hover-0-0-1-1-1-1-1-1)!important
}
#grid-0-1-0-0-0-0-0.hover-grid-0-1-0-0-0-0-0-0 {
  grid-template: var(--hover-0-1-0-0-0-0-0-0)!important
}
#grid-0-1-0-0-0-0-0.hover-grid-0-1-0-0-0-0-0-1 {
  grid-template: var(--hover-0-1-0-0-0-0-0-1)!important
}
#grid-0-1-0-0-0-0-1.hover-grid-0-1-0-0-0-0-1-0 {
  grid-template: var(--hover-0-1-0-0-0-0-1-0)!important
}
#grid-0-1-0-0-0-0-1.hover-grid-0-1-0-0-0-0-1-1 {
  grid-template: var(--hover-0-1-0-0-0-0-1-1)!important
}
#grid-0-1-0-0-0-1-0.hover-grid-0-1-0-0-0-1-0-0 {
  grid-template: var(--hover-0-1-0-0-0-1-0-0)!important
}
#grid-0-1-0-0-0-1-0.hover-grid-0-1-0-0-0-1-0-1 {
  grid-template: var(--hover-0-1-0-0-0-1-0-1)!important
}
#grid-0-1-0-0-0-1-1.hover-grid-0-1-0-0-0-1-1-0 {
  grid-template: var(--hover-0-1-0-0-0-1-1-0)!important
}
#grid-0-1-0-0-0-1-1.hover-grid-0-1-0-0-0-1-1-1 {
  grid-template: var(--hover-0-1-0-0-0-1-1-1)!important
}
#grid-0-1-0-0-1-0-0.hover-grid-0-1-0-0-1-0-0-0 {
  grid-template: var(--hover-0-1-0-0-1-0-0-0)!important
}
#grid-0-1-0-0-1-0-0.hover-grid-0-1-0-0-1-0-0-1 {
  grid-template: var(--hover-0-1-0-0-1-0-0-1)!important
}
#grid-0-1-0-0-1-0-1.hover-grid-0-1-0-0-1-0-1-0 {
  grid-template: var(--hover-0-1-0-0-1-0-1-0)!important
}
#grid-0-1-0-0-1-0-1.hover-grid-0-1-0-0-1-0-1-1 {
  grid-template: var(--hover-0-1-0-0-1-0-1-1)!important
}
#grid-0-1-0-0-1-1-0.hover-grid-0-1-0-0-1-1-0-0 {
  grid-template: var(--hover-0-1-0-0-1-1-0-0)!important
}
#grid-0-1-0-0-1-1-0.hover-grid-0-1-0-0-1-1-0-1 {
  grid-template: var(--hover-0-1-0-0-1-1-0-1)!important
}
#grid-0-1-0-0-1-1-1.hover-grid-0-1-0-0-1-1-1-0 {
  grid-template: var(--hover-0-1-0-0-1-1-1-0)!important
}
#grid-0-1-0-0-1-1-1.hover-grid-0-1-0-0-1-1-1-1 {
  grid-template: var(--hover-0-1-0-0-1-1-1-1)!important
}
#grid-0-1-0-1-0-0-0.hover-grid-0-1-0-1-0-0-0-0 {
  grid-template: var(--hover-0-1-0-1-0-0-0-0)!important
}
#grid-0-1-0-1-0-0-0.hover-grid-0-1-0-1-0-0-0-1 {
  grid-template: var(--hover-0-1-0-1-0-0-0-1)!important
}
#grid-0-1-0-1-0-0-1.hover-grid-0-1-0-1-0-0-1-0 {
  grid-template: var(--hover-0-1-0-1-0-0-1-0)!important
}
#grid-0-1-0-1-0-0-1.hover-grid-0-1-0-1-0-0-1-1 {
  grid-template: var(--hover-0-1-0-1-0-0-1-1)!important
}
#grid-0-1-0-1-0-1-0.hover-grid-0-1-0-1-0-1-0-0 {
  grid-template: var(--hover-0-1-0-1-0-1-0-0)!important
}
#grid-0-1-0-1-0-1-0.hover-grid-0-1-0-1-0-1-0-1 {
  grid-template: var(--hover-0-1-0-1-0-1-0-1)!important
}
#grid-0-1-0-1-0-1-1.hover-grid-0-1-0-1-0-1-1-0 {
  grid-template: var(--hover-0-1-0-1-0-1-1-0)!important
}
#grid-0-1-0-1-0-1-1.hover-grid-0-1-0-1-0-1-1-1 {
  grid-template: var(--hover-0-1-0-1-0-1-1-1)!important
}
#grid-0-1-0-1-1-0-0.hover-grid-0-1-0-1-1-0-0-0 {
  grid-template: var(--hover-0-1-0-1-1-0-0-0)!important
}
#grid-0-1-0-1-1-0-0.hover-grid-0-1-0-1-1-0-0-1 {
  grid-template: var(--hover-0-1-0-1-1-0-0-1)!important
}
#grid-0-1-0-1-1-0-1.hover-grid-0-1-0-1-1-0-1-0 {
  grid-template: var(--hover-0-1-0-1-1-0-1-0)!important
}
#grid-0-1-0-1-1-0-1.hover-grid-0-1-0-1-1-0-1-1 {
  grid-template: var(--hover-0-1-0-1-1-0-1-1)!important
}
#grid-0-1-0-1-1-1-0.hover-grid-0-1-0-1-1-1-0-0 {
  grid-template: var(--hover-0-1-0-1-1-1-0-0)!important
}
#grid-0-1-0-1-1-1-0.hover-grid-0-1-0-1-1-1-0-1 {
  grid-template: var(--hover-0-1-0-1-1-1-0-1)!important
}
#grid-0-1-0-1-1-1-1.hover-grid-0-1-0-1-1-1-1-0 {
  grid-template: var(--hover-0-1-0-1-1-1-1-0)!important
}
#grid-0-1-0-1-1-1-1.hover-grid-0-1-0-1-1-1-1-1 {
  grid-template: var(--hover-0-1-0-1-1-1-1-1)!important
}
#grid-0-1-1-0-0-0-0.hover-grid-0-1-1-0-0-0-0-0 {
  grid-template: var(--hover-0-1-1-0-0-0-0-0)!important
}
#grid-0-1-1-0-0-0-0.hover-grid-0-1-1-0-0-0-0-1 {
  grid-template: var(--hover-0-1-1-0-0-0-0-1)!important
}
#grid-0-1-1-0-0-0-1.hover-grid-0-1-1-0-0-0-1-0 {
  grid-template: var(--hover-0-1-1-0-0-0-1-0)!important
}
#grid-0-1-1-0-0-0-1.hover-grid-0-1-1-0-0-0-1-1 {
  grid-template: var(--hover-0-1-1-0-0-0-1-1)!important
}
#grid-0-1-1-0-0-1-0.hover-grid-0-1-1-0-0-1-0-0 {
  grid-template: var(--hover-0-1-1-0-0-1-0-0)!important
}
#grid-0-1-1-0-0-1-0.hover-grid-0-1-1-0-0-1-0-1 {
  grid-template: var(--hover-0-1-1-0-0-1-0-1)!important
}
#grid-0-1-1-0-0-1-1.hover-grid-0-1-1-0-0-1-1-0 {
  grid-template: var(--hover-0-1-1-0-0-1-1-0)!important
}
#grid-0-1-1-0-0-1-1.hover-grid-0-1-1-0-0-1-1-1 {
  grid-template: var(--hover-0-1-1-0-0-1-1-1)!important
}
#grid-0-1-1-0-1-0-0.hover-grid-0-1-1-0-1-0-0-0 {
  grid-template: var(--hover-0-1-1-0-1-0-0-0)!important
}
#grid-0-1-1-0-1-0-0.hover-grid-0-1-1-0-1-0-0-1 {
  grid-template: var(--hover-0-1-1-0-1-0-0-1)!important
}
#grid-0-1-1-0-1-0-1.hover-grid-0-1-1-0-1-0-1-0 {
  grid-template: var(--hover-0-1-1-0-1-0-1-0)!important
}
#grid-0-1-1-0-1-0-1.hover-grid-0-1-1-0-1-0-1-1 {
  grid-template: var(--hover-0-1-1-0-1-0-1-1)!important
}
#grid-0-1-1-0-1-1-0.hover-grid-0-1-1-0-1-1-0-0 {
  grid-template: var(--hover-0-1-1-0-1-1-0-0)!important
}
#grid-0-1-1-0-1-1-0.hover-grid-0-1-1-0-1-1-0-1 {
  grid-template: var(--hover-0-1-1-0-1-1-0-1)!important
}
#grid-0-1-1-0-1-1-1.hover-grid-0-1-1-0-1-1-1-0 {
  grid-template: var(--hover-0-1-1-0-1-1-1-0)!important
}
#grid-0-1-1-0-1-1-1.hover-grid-0-1-1-0-1-1-1-1 {
  grid-template: var(--hover-0-1-1-0-1-1-1-1)!important
}
#grid-0-1-1-1-0-0-0.hover-grid-0-1-1-1-0-0-0-0 {
  grid-template: var(--hover-0-1-1-1-0-0-0-0)!important
}
#grid-0-1-1-1-0-0-0.hover-grid-0-1-1-1-0-0-0-1 {
  grid-template: var(--hover-0-1-1-1-0-0-0-1)!important
}
#grid-0-1-1-1-0-0-1.hover-grid-0-1-1-1-0-0-1-0 {
  grid-template: var(--hover-0-1-1-1-0-0-1-0)!important
}
#grid-0-1-1-1-0-0-1.hover-grid-0-1-1-1-0-0-1-1 {
  grid-template: var(--hover-0-1-1-1-0-0-1-1)!important
}
#grid-0-1-1-1-0-1-0.hover-grid-0-1-1-1-0-1-0-0 {
  grid-template: var(--hover-0-1-1-1-0-1-0-0)!important
}
#grid-0-1-1-1-0-1-0.hover-grid-0-1-1-1-0-1-0-1 {
  grid-template: var(--hover-0-1-1-1-0-1-0-1)!important
}
#grid-0-1-1-1-0-1-1.hover-grid-0-1-1-1-0-1-1-0 {
  grid-template: var(--hover-0-1-1-1-0-1-1-0)!important
}
#grid-0-1-1-1-0-1-1.hover-grid-0-1-1-1-0-1-1-1 {
  grid-template: var(--hover-0-1-1-1-0-1-1-1)!important
}
#grid-0-1-1-1-1-0-0.hover-grid-0-1-1-1-1-0-0-0 {
  grid-template: var(--hover-0-1-1-1-1-0-0-0)!important
}
#grid-0-1-1-1-1-0-0.hover-grid-0-1-1-1-1-0-0-1 {
  grid-template: var(--hover-0-1-1-1-1-0-0-1)!important
}
#grid-0-1-1-1-1-0-1.hover-grid-0-1-1-1-1-0-1-0 {
  grid-template: var(--hover-0-1-1-1-1-0-1-0)!important
}
#grid-0-1-1-1-1-0-1.hover-grid-0-1-1-1-1-0-1-1 {
  grid-template: var(--hover-0-1-1-1-1-0-1-1)!important
}
#grid-0-1-1-1-1-1-0.hover-grid-0-1-1-1-1-1-0-0 {
  grid-template: var(--hover-0-1-1-1-1-1-0-0)!important
}
#grid-0-1-1-1-1-1-0.hover-grid-0-1-1-1-1-1-0-1 {
  grid-template: var(--hover-0-1-1-1-1-1-0-1)!important
}
#grid-0-1-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1-0 {
  grid-template: var(--hover-0-1-1-1-1-1-1-0)!important
}
#grid-0-1-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1-1 {
  grid-template: var(--hover-0-1-1-1-1-1-1-1)!important
}