html {
  background: #111116;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(255,255,255,0.8);
  width: 100%;
}

:root {
  --short: 0.2s ease-in-out;
  --medium: 0.4s cubic-bezier(0.5,0,0.5,1);
  --padding: 12px;
}

.content {
  position: absolute;
  padding: 60px var(--padding) var(--padding) var(--padding);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bottom-bar {
  width:100%;
  position: absolute;
  top: 20px;
  padding: 0 var(--padding);
  z-index: 1;
}
.title {
  position: absolute;
  color: #fff;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: var(--short);
}
#grid- {
  height:100%;
  width:100%;
  transition: var(--medium);
}
div[type='grid-item'] {
  width: 100%;
  height: 100%;
  transition: var(--short);
  grid-gap: var(--padding);
}
div[type='tile'], .placeholder-tile {
  position: relative;
  opacity: 0;
  display: flex;
  /*justify-content: center;*/
  padding: 16px;
  width: auto;
  height: auto;
  background: rgba(255,255,255,0.08);
  border-radius: 24px;
  transition: var(--medium), var(--short) background;
  cursor: pointer;
}
.placeholder-tile {
  background: rgba(0,0,0,0.08);
  box-shadow: none;
}
div[type='tile']:hover {
  background: rgba(255,255,255,0.09);
}
.tile-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(255,255,255,0.8);
  width: 100%;
  overflow: hidden;
}

#modal-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  grid-gap: var(--padding);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  backdrop-filter: blur(0px);
  pointer-events: none;
  transition: 0.4s ease;
}
#modal-wrapper.active {
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(16px);
}

.side-menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-gap: var(--padding);
  padding: var(--padding);
}

.side-menu-item {
  width: 100%;
  min-height: 200px;
}

.case-section {
  width: 100%;
  height: 100%;
}

div[type='tile'].active {
  position: absolute;
  z-index: 1;
  background: rgba(36,36,41);
  pointer-events: all!important;
  cursor: auto!important;
}

div[type='tile'].active.modal-open {
  width: 80%!important;
  height: 80%!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%,-50%)!important;
}

@media screen and (min-width: 1000px) {
  div[type='tile'].active.modal-open {
    width: 800px!important;
  }
}

.close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid #E5E5E5;
  top: -16px;
  right: -16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  transition: .2s ease;
  pointer-events: none;
  cursor: pointer;
}

.close-modal:hover {
  background: #E5E5E5;
}

.active .close-modal {
  opacity: 1;
  pointer-events: all;
}

.inactive {
  opacity: 0;
  pointer-events: none;
}

.randomize {
  display: inline;
  cursor: pointer;
}

.background-blur {
  position: absolute;
  border-radius: 24px;
  opacity: 0;
  /* filter: blur(40px);
  background: rgba(255,255,255,0.01); */
  z-index: -1;
  transition: 1.5s cubic-bezier(0,1.4,.5,1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.background-blur img {
  position: absolute;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}


/*set following in js:*/

#grid-0.hover-grid-0-0.allow-hover {
  grid-template: var(--hover-0-0)!important
}
#grid-0.hover-grid-0-1.allow-hover {
  grid-template: var(--hover-0-1)!important
}
#grid-0-0.hover-grid-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0)!important
}
#grid-0-0.hover-grid-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1)!important
}
#grid-0-1.hover-grid-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0)!important
}
#grid-0-1.hover-grid-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1)!important
}
#grid-0-0-0.hover-grid-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0)!important
}
#grid-0-0-0.hover-grid-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1)!important
}
#grid-0-0-1.hover-grid-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0)!important
}
#grid-0-0-1.hover-grid-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1)!important
}
#grid-0-1-0.hover-grid-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0)!important
}
#grid-0-1-0.hover-grid-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1)!important
}
#grid-0-1-1.hover-grid-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0)!important
}
#grid-0-1-1.hover-grid-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1)!important
}
#grid-0-0-0-0.hover-grid-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0)!important
}
#grid-0-0-0-0.hover-grid-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1)!important
}
#grid-0-0-0-1.hover-grid-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0)!important
}
#grid-0-0-0-1.hover-grid-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1)!important
}
#grid-0-0-1-0.hover-grid-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0)!important
}
#grid-0-0-1-0.hover-grid-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1)!important
}
#grid-0-0-1-1.hover-grid-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0)!important
}
#grid-0-0-1-1.hover-grid-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1)!important
}
#grid-0-1-0-0.hover-grid-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0)!important
}
#grid-0-1-0-0.hover-grid-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1)!important
}
#grid-0-1-0-1.hover-grid-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0)!important
}
#grid-0-1-0-1.hover-grid-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1)!important
}
#grid-0-1-1-0.hover-grid-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0)!important
}
#grid-0-1-1-0.hover-grid-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1)!important
}
#grid-0-1-1-1.hover-grid-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0)!important
}
#grid-0-1-1-1.hover-grid-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1)!important
}
#grid-0-0-0-0-0.hover-grid-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0.hover-grid-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-1.hover-grid-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-1.hover-grid-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1)!important
}
#grid-0-0-0-1-0.hover-grid-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0)!important
}
#grid-0-0-0-1-0.hover-grid-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1)!important
}
#grid-0-0-0-1-1.hover-grid-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0)!important
}
#grid-0-0-0-1-1.hover-grid-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1)!important
}
#grid-0-0-1-0-0.hover-grid-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0)!important
}
#grid-0-0-1-0-0.hover-grid-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1)!important
}
#grid-0-0-1-0-1.hover-grid-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0)!important
}
#grid-0-0-1-0-1.hover-grid-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1)!important
}
#grid-0-0-1-1-0.hover-grid-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0)!important
}
#grid-0-0-1-1-0.hover-grid-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1)!important
}
#grid-0-0-1-1-1.hover-grid-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0)!important
}
#grid-0-0-1-1-1.hover-grid-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1)!important
}
#grid-0-1-0-0-0.hover-grid-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0)!important
}
#grid-0-1-0-0-0.hover-grid-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1)!important
}
#grid-0-1-0-0-1.hover-grid-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0)!important
}
#grid-0-1-0-0-1.hover-grid-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1)!important
}
#grid-0-1-0-1-0.hover-grid-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0)!important
}
#grid-0-1-0-1-0.hover-grid-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1)!important
}
#grid-0-1-0-1-1.hover-grid-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0)!important
}
#grid-0-1-0-1-1.hover-grid-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1)!important
}
#grid-0-1-1-0-0.hover-grid-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0)!important
}
#grid-0-1-1-0-0.hover-grid-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1)!important
}
#grid-0-1-1-0-1.hover-grid-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0)!important
}
#grid-0-1-1-0-1.hover-grid-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1)!important
}
#grid-0-1-1-1-0.hover-grid-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0)!important
}
#grid-0-1-1-1-0.hover-grid-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1)!important
}
#grid-0-1-1-1-1.hover-grid-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0)!important
}
#grid-0-1-1-1-1.hover-grid-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1)!important
}
#grid-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-0-1.hover-grid-0-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-0-1.hover-grid-0-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-1)!important
}
#grid-0-0-0-0-1-0.hover-grid-0-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-0)!important
}
#grid-0-0-0-0-1-0.hover-grid-0-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-1)!important
}
#grid-0-0-0-0-1-1.hover-grid-0-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-0)!important
}
#grid-0-0-0-0-1-1.hover-grid-0-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-1)!important
}
#grid-0-0-0-1-0-0.hover-grid-0-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-0)!important
}
#grid-0-0-0-1-0-0.hover-grid-0-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-1)!important
}
#grid-0-0-0-1-0-1.hover-grid-0-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-0)!important
}
#grid-0-0-0-1-0-1.hover-grid-0-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-1)!important
}
#grid-0-0-0-1-1-0.hover-grid-0-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-0)!important
}
#grid-0-0-0-1-1-0.hover-grid-0-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-1)!important
}
#grid-0-0-0-1-1-1.hover-grid-0-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-0)!important
}
#grid-0-0-0-1-1-1.hover-grid-0-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-1)!important
}
#grid-0-0-1-0-0-0.hover-grid-0-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-0)!important
}
#grid-0-0-1-0-0-0.hover-grid-0-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-1)!important
}
#grid-0-0-1-0-0-1.hover-grid-0-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-0)!important
}
#grid-0-0-1-0-0-1.hover-grid-0-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-1)!important
}
#grid-0-0-1-0-1-0.hover-grid-0-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-0)!important
}
#grid-0-0-1-0-1-0.hover-grid-0-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-1)!important
}
#grid-0-0-1-0-1-1.hover-grid-0-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-0)!important
}
#grid-0-0-1-0-1-1.hover-grid-0-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-1)!important
}
#grid-0-0-1-1-0-0.hover-grid-0-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-0)!important
}
#grid-0-0-1-1-0-0.hover-grid-0-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-1)!important
}
#grid-0-0-1-1-0-1.hover-grid-0-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-0)!important
}
#grid-0-0-1-1-0-1.hover-grid-0-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-1)!important
}
#grid-0-0-1-1-1-0.hover-grid-0-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-0)!important
}
#grid-0-0-1-1-1-0.hover-grid-0-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-1)!important
}
#grid-0-0-1-1-1-1.hover-grid-0-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-0)!important
}
#grid-0-0-1-1-1-1.hover-grid-0-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-1)!important
}
#grid-0-1-0-0-0-0.hover-grid-0-1-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-0)!important
}
#grid-0-1-0-0-0-0.hover-grid-0-1-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-1)!important
}
#grid-0-1-0-0-0-1.hover-grid-0-1-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-0)!important
}
#grid-0-1-0-0-0-1.hover-grid-0-1-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-1)!important
}
#grid-0-1-0-0-1-0.hover-grid-0-1-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-0)!important
}
#grid-0-1-0-0-1-0.hover-grid-0-1-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-1)!important
}
#grid-0-1-0-0-1-1.hover-grid-0-1-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-0)!important
}
#grid-0-1-0-0-1-1.hover-grid-0-1-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-1)!important
}
#grid-0-1-0-1-0-0.hover-grid-0-1-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-0)!important
}
#grid-0-1-0-1-0-0.hover-grid-0-1-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-1)!important
}
#grid-0-1-0-1-0-1.hover-grid-0-1-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-0)!important
}
#grid-0-1-0-1-0-1.hover-grid-0-1-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-1)!important
}
#grid-0-1-0-1-1-0.hover-grid-0-1-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-0)!important
}
#grid-0-1-0-1-1-0.hover-grid-0-1-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-1)!important
}
#grid-0-1-0-1-1-1.hover-grid-0-1-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-0)!important
}
#grid-0-1-0-1-1-1.hover-grid-0-1-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-1)!important
}
#grid-0-1-1-0-0-0.hover-grid-0-1-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-0)!important
}
#grid-0-1-1-0-0-0.hover-grid-0-1-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-1)!important
}
#grid-0-1-1-0-0-1.hover-grid-0-1-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-0)!important
}
#grid-0-1-1-0-0-1.hover-grid-0-1-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-1)!important
}
#grid-0-1-1-0-1-0.hover-grid-0-1-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-0)!important
}
#grid-0-1-1-0-1-0.hover-grid-0-1-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-1)!important
}
#grid-0-1-1-0-1-1.hover-grid-0-1-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-0)!important
}
#grid-0-1-1-0-1-1.hover-grid-0-1-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-1)!important
}
#grid-0-1-1-1-0-0.hover-grid-0-1-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-0)!important
}
#grid-0-1-1-1-0-0.hover-grid-0-1-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-1)!important
}
#grid-0-1-1-1-0-1.hover-grid-0-1-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-0)!important
}
#grid-0-1-1-1-0-1.hover-grid-0-1-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-1)!important
}
#grid-0-1-1-1-1-0.hover-grid-0-1-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-0)!important
}
#grid-0-1-1-1-1-0.hover-grid-0-1-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-1)!important
}
#grid-0-1-1-1-1-1.hover-grid-0-1-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-0)!important
}
#grid-0-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-1)!important
}
#grid-0-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-0-0)!important
}
#grid-0-0-0-0-0-0-0.hover-grid-0-0-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-0-1)!important
}
#grid-0-0-0-0-0-0-1.hover-grid-0-0-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-1-0)!important
}
#grid-0-0-0-0-0-0-1.hover-grid-0-0-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-0-1-1)!important
}
#grid-0-0-0-0-0-1-0.hover-grid-0-0-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-0-0)!important
}
#grid-0-0-0-0-0-1-0.hover-grid-0-0-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-0-1)!important
}
#grid-0-0-0-0-0-1-1.hover-grid-0-0-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-1-0)!important
}
#grid-0-0-0-0-0-1-1.hover-grid-0-0-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-0-1-1-1)!important
}
#grid-0-0-0-0-1-0-0.hover-grid-0-0-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-0-0)!important
}
#grid-0-0-0-0-1-0-0.hover-grid-0-0-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-0-1)!important
}
#grid-0-0-0-0-1-0-1.hover-grid-0-0-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-1-0)!important
}
#grid-0-0-0-0-1-0-1.hover-grid-0-0-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-0-1-1)!important
}
#grid-0-0-0-0-1-1-0.hover-grid-0-0-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-0-0)!important
}
#grid-0-0-0-0-1-1-0.hover-grid-0-0-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-0-1)!important
}
#grid-0-0-0-0-1-1-1.hover-grid-0-0-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-1-0)!important
}
#grid-0-0-0-0-1-1-1.hover-grid-0-0-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-0-1-1-1-1)!important
}
#grid-0-0-0-1-0-0-0.hover-grid-0-0-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-0-0)!important
}
#grid-0-0-0-1-0-0-0.hover-grid-0-0-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-0-1)!important
}
#grid-0-0-0-1-0-0-1.hover-grid-0-0-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-1-0)!important
}
#grid-0-0-0-1-0-0-1.hover-grid-0-0-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-0-1-1)!important
}
#grid-0-0-0-1-0-1-0.hover-grid-0-0-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-0-0)!important
}
#grid-0-0-0-1-0-1-0.hover-grid-0-0-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-0-1)!important
}
#grid-0-0-0-1-0-1-1.hover-grid-0-0-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-1-0)!important
}
#grid-0-0-0-1-0-1-1.hover-grid-0-0-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-0-1-1-1)!important
}
#grid-0-0-0-1-1-0-0.hover-grid-0-0-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-0-0)!important
}
#grid-0-0-0-1-1-0-0.hover-grid-0-0-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-0-1)!important
}
#grid-0-0-0-1-1-0-1.hover-grid-0-0-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-1-0)!important
}
#grid-0-0-0-1-1-0-1.hover-grid-0-0-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-0-1-1)!important
}
#grid-0-0-0-1-1-1-0.hover-grid-0-0-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-0-0)!important
}
#grid-0-0-0-1-1-1-0.hover-grid-0-0-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-0-1)!important
}
#grid-0-0-0-1-1-1-1.hover-grid-0-0-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-1-0)!important
}
#grid-0-0-0-1-1-1-1.hover-grid-0-0-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-0-1-1-1-1-1)!important
}
#grid-0-0-1-0-0-0-0.hover-grid-0-0-1-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-0-0)!important
}
#grid-0-0-1-0-0-0-0.hover-grid-0-0-1-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-0-1)!important
}
#grid-0-0-1-0-0-0-1.hover-grid-0-0-1-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-1-0)!important
}
#grid-0-0-1-0-0-0-1.hover-grid-0-0-1-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-0-1-1)!important
}
#grid-0-0-1-0-0-1-0.hover-grid-0-0-1-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-0-0)!important
}
#grid-0-0-1-0-0-1-0.hover-grid-0-0-1-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-0-1)!important
}
#grid-0-0-1-0-0-1-1.hover-grid-0-0-1-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-1-0)!important
}
#grid-0-0-1-0-0-1-1.hover-grid-0-0-1-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-0-1-1-1)!important
}
#grid-0-0-1-0-1-0-0.hover-grid-0-0-1-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-0-0)!important
}
#grid-0-0-1-0-1-0-0.hover-grid-0-0-1-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-0-1)!important
}
#grid-0-0-1-0-1-0-1.hover-grid-0-0-1-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-1-0)!important
}
#grid-0-0-1-0-1-0-1.hover-grid-0-0-1-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-0-1-1)!important
}
#grid-0-0-1-0-1-1-0.hover-grid-0-0-1-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-0-0)!important
}
#grid-0-0-1-0-1-1-0.hover-grid-0-0-1-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-0-1)!important
}
#grid-0-0-1-0-1-1-1.hover-grid-0-0-1-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-1-0)!important
}
#grid-0-0-1-0-1-1-1.hover-grid-0-0-1-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-0-1-1-1-1)!important
}
#grid-0-0-1-1-0-0-0.hover-grid-0-0-1-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-0-0)!important
}
#grid-0-0-1-1-0-0-0.hover-grid-0-0-1-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-0-1)!important
}
#grid-0-0-1-1-0-0-1.hover-grid-0-0-1-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-1-0)!important
}
#grid-0-0-1-1-0-0-1.hover-grid-0-0-1-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-0-1-1)!important
}
#grid-0-0-1-1-0-1-0.hover-grid-0-0-1-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-0-0)!important
}
#grid-0-0-1-1-0-1-0.hover-grid-0-0-1-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-0-1)!important
}
#grid-0-0-1-1-0-1-1.hover-grid-0-0-1-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-1-0)!important
}
#grid-0-0-1-1-0-1-1.hover-grid-0-0-1-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-0-1-1-1)!important
}
#grid-0-0-1-1-1-0-0.hover-grid-0-0-1-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-0-0)!important
}
#grid-0-0-1-1-1-0-0.hover-grid-0-0-1-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-0-1)!important
}
#grid-0-0-1-1-1-0-1.hover-grid-0-0-1-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-1-0)!important
}
#grid-0-0-1-1-1-0-1.hover-grid-0-0-1-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-0-1-1)!important
}
#grid-0-0-1-1-1-1-0.hover-grid-0-0-1-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-0-0)!important
}
#grid-0-0-1-1-1-1-0.hover-grid-0-0-1-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-0-1)!important
}
#grid-0-0-1-1-1-1-1.hover-grid-0-0-1-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-1-0)!important
}
#grid-0-0-1-1-1-1-1.hover-grid-0-0-1-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-0-1-1-1-1-1-1)!important
}
#grid-0-1-0-0-0-0-0.hover-grid-0-1-0-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-0-0)!important
}
#grid-0-1-0-0-0-0-0.hover-grid-0-1-0-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-0-1)!important
}
#grid-0-1-0-0-0-0-1.hover-grid-0-1-0-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-1-0)!important
}
#grid-0-1-0-0-0-0-1.hover-grid-0-1-0-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-0-1-1)!important
}
#grid-0-1-0-0-0-1-0.hover-grid-0-1-0-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-0-0)!important
}
#grid-0-1-0-0-0-1-0.hover-grid-0-1-0-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-0-1)!important
}
#grid-0-1-0-0-0-1-1.hover-grid-0-1-0-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-1-0)!important
}
#grid-0-1-0-0-0-1-1.hover-grid-0-1-0-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-0-1-1-1)!important
}
#grid-0-1-0-0-1-0-0.hover-grid-0-1-0-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-0-0)!important
}
#grid-0-1-0-0-1-0-0.hover-grid-0-1-0-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-0-1)!important
}
#grid-0-1-0-0-1-0-1.hover-grid-0-1-0-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-1-0)!important
}
#grid-0-1-0-0-1-0-1.hover-grid-0-1-0-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-0-1-1)!important
}
#grid-0-1-0-0-1-1-0.hover-grid-0-1-0-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-0-0)!important
}
#grid-0-1-0-0-1-1-0.hover-grid-0-1-0-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-0-1)!important
}
#grid-0-1-0-0-1-1-1.hover-grid-0-1-0-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-1-0)!important
}
#grid-0-1-0-0-1-1-1.hover-grid-0-1-0-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-0-1-1-1-1)!important
}
#grid-0-1-0-1-0-0-0.hover-grid-0-1-0-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-0-0)!important
}
#grid-0-1-0-1-0-0-0.hover-grid-0-1-0-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-0-1)!important
}
#grid-0-1-0-1-0-0-1.hover-grid-0-1-0-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-1-0)!important
}
#grid-0-1-0-1-0-0-1.hover-grid-0-1-0-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-0-1-1)!important
}
#grid-0-1-0-1-0-1-0.hover-grid-0-1-0-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-0-0)!important
}
#grid-0-1-0-1-0-1-0.hover-grid-0-1-0-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-0-1)!important
}
#grid-0-1-0-1-0-1-1.hover-grid-0-1-0-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-1-0)!important
}
#grid-0-1-0-1-0-1-1.hover-grid-0-1-0-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-0-1-1-1)!important
}
#grid-0-1-0-1-1-0-0.hover-grid-0-1-0-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-0-0)!important
}
#grid-0-1-0-1-1-0-0.hover-grid-0-1-0-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-0-1)!important
}
#grid-0-1-0-1-1-0-1.hover-grid-0-1-0-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-1-0)!important
}
#grid-0-1-0-1-1-0-1.hover-grid-0-1-0-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-0-1-1)!important
}
#grid-0-1-0-1-1-1-0.hover-grid-0-1-0-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-0-0)!important
}
#grid-0-1-0-1-1-1-0.hover-grid-0-1-0-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-0-1)!important
}
#grid-0-1-0-1-1-1-1.hover-grid-0-1-0-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-1-0)!important
}
#grid-0-1-0-1-1-1-1.hover-grid-0-1-0-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-0-1-1-1-1-1)!important
}
#grid-0-1-1-0-0-0-0.hover-grid-0-1-1-0-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-0-0)!important
}
#grid-0-1-1-0-0-0-0.hover-grid-0-1-1-0-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-0-1)!important
}
#grid-0-1-1-0-0-0-1.hover-grid-0-1-1-0-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-1-0)!important
}
#grid-0-1-1-0-0-0-1.hover-grid-0-1-1-0-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-0-1-1)!important
}
#grid-0-1-1-0-0-1-0.hover-grid-0-1-1-0-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-0-0)!important
}
#grid-0-1-1-0-0-1-0.hover-grid-0-1-1-0-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-0-1)!important
}
#grid-0-1-1-0-0-1-1.hover-grid-0-1-1-0-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-1-0)!important
}
#grid-0-1-1-0-0-1-1.hover-grid-0-1-1-0-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-0-1-1-1)!important
}
#grid-0-1-1-0-1-0-0.hover-grid-0-1-1-0-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-0-0)!important
}
#grid-0-1-1-0-1-0-0.hover-grid-0-1-1-0-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-0-1)!important
}
#grid-0-1-1-0-1-0-1.hover-grid-0-1-1-0-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-1-0)!important
}
#grid-0-1-1-0-1-0-1.hover-grid-0-1-1-0-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-0-1-1)!important
}
#grid-0-1-1-0-1-1-0.hover-grid-0-1-1-0-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-0-0)!important
}
#grid-0-1-1-0-1-1-0.hover-grid-0-1-1-0-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-0-1)!important
}
#grid-0-1-1-0-1-1-1.hover-grid-0-1-1-0-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-1-0)!important
}
#grid-0-1-1-0-1-1-1.hover-grid-0-1-1-0-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-0-1-1-1-1)!important
}
#grid-0-1-1-1-0-0-0.hover-grid-0-1-1-1-0-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-0-0)!important
}
#grid-0-1-1-1-0-0-0.hover-grid-0-1-1-1-0-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-0-1)!important
}
#grid-0-1-1-1-0-0-1.hover-grid-0-1-1-1-0-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-1-0)!important
}
#grid-0-1-1-1-0-0-1.hover-grid-0-1-1-1-0-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-0-1-1)!important
}
#grid-0-1-1-1-0-1-0.hover-grid-0-1-1-1-0-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-0-0)!important
}
#grid-0-1-1-1-0-1-0.hover-grid-0-1-1-1-0-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-0-1)!important
}
#grid-0-1-1-1-0-1-1.hover-grid-0-1-1-1-0-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-1-0)!important
}
#grid-0-1-1-1-0-1-1.hover-grid-0-1-1-1-0-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-0-1-1-1)!important
}
#grid-0-1-1-1-1-0-0.hover-grid-0-1-1-1-1-0-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-0-0)!important
}
#grid-0-1-1-1-1-0-0.hover-grid-0-1-1-1-1-0-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-0-1)!important
}
#grid-0-1-1-1-1-0-1.hover-grid-0-1-1-1-1-0-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-1-0)!important
}
#grid-0-1-1-1-1-0-1.hover-grid-0-1-1-1-1-0-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-0-1-1)!important
}
#grid-0-1-1-1-1-1-0.hover-grid-0-1-1-1-1-1-0-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-0-0)!important
}
#grid-0-1-1-1-1-1-0.hover-grid-0-1-1-1-1-1-0-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-0-1)!important
}
#grid-0-1-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1-0.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-1-0)!important
}
#grid-0-1-1-1-1-1-1.hover-grid-0-1-1-1-1-1-1-1.allow-hover {
  grid-template: var(--hover-0-1-1-1-1-1-1-1)!important
}